

header {

}

img {
	float: left;
	overflow: auto;
}


h2 {
	text-indent: 50px;
	font-size: 1.0em;
}

/* styling of the order list */
ul.oList {
	list-style-type: disc;
}
body{


  padding:0;
  margin:0;
}

/* styling Customer note */
p.note {
	text-indent: 80px;

}

/* button styling */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA; /* Blue */
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px #999;
}

/*finish page */
div.finish {
	text-align: center;
}

.categories li {
  font: 25px/1.5 Arial, Helvetic, sans-serif;
  margin:auto;
}
.content {
	max-width: 500px;
	margin:auto;
	padding:10px;
//	background-image: url("iphone.jpg");

}
