body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

img {
  /* Adjust width and height according to your image */
  width: 100px;
  height: 100px;
  position: absolute;
}

#caughtBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1; /* Ensure it stays in the background */
}
